.pokemon-card-container{
    display: block;
    position: absolute;
    width: 385px;
    height: 552px;
    border: gold solid 22px;
    border-radius: 12px;
    /* background-image: url('../template.png');
    background-repeat: no-repeat;
    background-position-y: -23px;
    background-position-x: -20px; */
}
.pokemon-title { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
    position: relative;
    margin: 0%;
    color:black;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
}

.pokemon-name {
    display: flex;
    margin: 0%;
}

.pokemon-id {
    display: flex;
    margin: 0%;
}

.picture-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid gold 8px;
    margin-left: auto;
    margin-right: auto;
    /* display: block;
    position: relative; */
    width: 327px;
    height: 230px;
}

.body-type{
    background:  gold; 
    display: flex;
    font-style: italic;
    align-items: center;
    flex-direction: row;
    height: 20px;
    width: 313px;
    position: relative;
    justify-content: center;
    color:black;
    margin-top: 5px;
    font-size: 8px;
    margin-right: auto;
    margin-left: auto;
}

input{
    
    border-style: none;
    font-size: 24px;
    max-width: 60px;
}

.divider {
    display: black;
    
    padding: .1px;
    max-width: 370px;
    background-color: black;
}
.attack-move{
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 75px;
    background-color: grey;
    
}