@import url('https://fonts.googleapis.com/css?family=Open+Sans:600i,700');

.loading{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 100px;
    background: #ad2222;
    background: -moz-linear-gradient(top, #ad2222 0%, #ad2222 50%, #f2f2f2 51%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ad2222 0%,#ad2222 50%,#f2f2f2 51%,#ffffff 100%);
    background: linear-gradient(to bottom, #ad2222 0%,#ad2222 50%,#f2f2f2 51%,#ffffff 100%);
    animation: ball-spin ease-in-out infinite 1s;
}

@keyframes ball-spin {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }

}


.pokemon-sprite{
    transform: scale(1.8);
}
body{
    font-family: 'Open Sans', sans-serif;
}
.pokemon-card-container{
    display: block;
    position: relative;
    max-width: 385px;
    max-height: 552px;
    border: gold solid 22px;
    border-radius: 12px;
    /* background-image: url('../template.png');
    background-repeat: no-repeat;
    background-position-y: -23px;
    background-position-x: -20px; */
}
.pokemon-title { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 327px;
    position: relative;
    margin: 0%;
    color:black;
    font-size: 10px;
    margin-right: auto;
    margin-left: auto;
}

.pokemon-name {
    display: flex;
    margin: 0%;
}

.pokemon-id {
    display: flex;
    margin: 0%;
}

.picture-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid gold 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 327px;
    height: 205px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.205);
    background: white;
}

.body-type{
    
    background:  gold; 
    display: flex;
    
    align-items: center;
    
    flex-direction: row;
    height: 20px;
    max-width: 313px;
    position: relative;
    justify-content: space-between;
    color:black;
    margin-top: 5px;
    margin-bottom: 0%;
   
    margin-right: auto;
    margin-left: auto;
    
}
.body-type h2 {
    white-space: pre-wrap;
    font-size: 12px;
    word-break: none;
    font-weight: 300;
    font-style: italic;
    text-overflow: ellipsis;
    

}

.body-type h2{
    margin: 0; 
}

.btn-counter {
    background: transparent;
    border-style: none;
    font-size: 20px;
    overflow: visible;
    animation: counterBump 2s infinite ease-in-out;
}

.btn-counter:active {
    background: transparent;
    border-style: none;
    font-size: 20px;
    overflow: visible;
    animation: none;
    transform: scale(0.9);
    transition: ease-in;
    
}

.btn-counter:hover {
    background: transparent;
    border-style: none;
    font-size: 20px;
    overflow: visible;
    animation: none;
}

input{
    display: block;
    position: relative;
    top: -1px;
    text-align: center;
    border-style: none;
    font-size: 20px;
    max-width: 45px;
    font-weight: bold;
    padding-bottom: -10px;
    background: transparent;
    overflow: visible;
}

.divider {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 1px;
    padding: .1px;
    max-width: 370px;
    background: black;
}
.attack-move{
    display: block;
    position: relative;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 370px;
    height: 68px;
}

.col3{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    height: 40px;
    max-width: 350px;
}

.item{
    width: 45px;
    height: 40px;
    border: black 1px solid;
    opacity: 0.1;
}

.about {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 342px;   
    border: 4px gold solid;
    bottom: 12px;
    
}

.about-pokemon{
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-size: 9px;

}
@keyframes counterBump {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1);
    }

    75%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}